* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 40px;
  --background-color: #ecf0f1;
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --title-size: 20px;
  --font-weight: 370;
  --nav-font-size: 13px;
}

@font-face {
  font-family: 'Work Sans';
  src: url(fonts/WorkSans-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.arrow-on {
  display: none;
}

@media (max-width: 990px) {
  .arrow-on {
    display: inline;
  }
}

/* He decidido dejarlo así como en la página original, aunque se que hay un hover que hace que si estas en dicha sección se activa la flecha pero baja mi conocimiento veo que hacian falta muchos ids y cosas, si es más fácil de lo que pensaba me encantaría que me lo dijeras */

.black-text {
  color: var(--text-color-black);
  font-weight: var(--font-weight);
}

.white-text {
  color: var(--text-color-white);
  font-weight: var(--font-weight);
}

header {
  z-index: 1000;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#spacer {
  height: var(--header-height);
}

#logo {
  order: 2;
  font-weight: var(--font-weight);
  font-size: var(--title-size);
  position: absolute;
  left: 50%;
  transform: translateX(
    -50%
  ); /* Lo de poner el logo centrado lo he tenido que buscar */
  /* también he estado a punto de meter las letras del EVERLANE encapsuladas en divs para poder ajustar el espacio entre ellas pero he visto que dejando un espacio en el html se parecía bastante, ¿lo hubieras visto viable? */
}

#logo {
  text-decoration: none;
  color: black;
}

#nav1 {
  display: flex;
  gap: 1rem;
  order: 1;
  margin-left: 1rem;
}

#nav-right {
  display: flex;
  align-items: center;
  order: 3;
}

#nav-right > *:not(:last-child) {
  margin-right: 1rem;
}

#contracted {
  border: none;
  background: none;
  display: none;
  cursor: pointer;
  margin-left: 1rem;
  height: 20px;
}

.icons {
  border: none;
  background: none;
  display: none;
  cursor: pointer;
  height: 20px;
  margin: 0;
  padding: 0;
}

.icons img {
  width: 20px;
  height: auto;
}

#contracted img {
  width: 20px;
  height: auto;
}

@media (max-width: 1024px) {
  #nav1 a,
  #nav2 a:nth-child(2) {
    display: none;
  }

  #contracted {
    display: block;
  }
}

@media (max-width: 991px) {
  #nav2 a:nth-child(1),
  #nav2 a:nth-child(3) {
    display: none;
  }
  .icons {
    display: block;
  }
}

#nav1 a,
#nav2 a,
.wardrobe a {
  text-decoration: none;
  color: black;
  font-weight: var(--font-weight);
  font-size: var(--nav-font-size);
}

#nav2 {
  display: flex;
  gap: 1rem;
  order: 3;
}

#nav1 a:hover,
#nav2 a:hover {
  text-decoration: underline;
}

#wardrobe_intro h2 {
  font-size: var(--nav-font-size);
  font-weight: var(--font-weight);
  margin-left: 1rem;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}

#ward1 {
  grid-area: w1;
}
#ward2 {
  grid-area: w2;
}
#ward3 {
  grid-area: w3;
}
#ward4 {
  grid-area: w4;
}
#ward5 {
  grid-area: w5;
}
#ward6 {
  grid-area: w6;
}

#full_wardrobe {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 'w1 w2 w3 w4 w5 w6';
  max-width: 100%;
}

.wardrobe {
  display: flex;
  flex-direction: column;
}

.wardrobe img {
  width: 100%;
  height: auto;
  display: block;
}

.wardrobe a {
  margin-left: 1rem;
  margin-bottom: 1.2rem;
  margin-top: 0.8rem;
}

#luxury {
  cursor: pointer;
}

.image-box {
  position: relative;
  width: 100%;
}

.image-box img {
  display: block;
  width: 100%;
  height: auto;
}

.image-box .overlay {
  position: absolute;
  line-height: 1.4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-box .overlay-left {
  position: absolute;
  top: 50%;
  left: 1rem;
}

#girls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  cursor: pointer;
}

#girls div img {
  width: 100%;
  height: auto;
  display: block;
}

#white-T div img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

footer {
  background: #222;
  color: white;
  padding: 2rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.footer-grid h4 {
  margin-bottom: 0.5rem;
}

.footer-grid ul {
  list-style: none;
}

.footer-grid li {
  margin-bottom: 0.3rem;
}
